@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hide-the-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-the-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

/* cards entry - custom animation */
@keyframes cardEntry {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }

}

.cardsAnimations {
    animation: cardEntry 0.2s ease-in forwards;
}